.navbar-brand {
	padding-top: 9px;
}

.btn-group {
	padding-top: 9px;
}

#marca {
	padding-top: 14px;
	float: right;
	font-size: 18px;
	color: orange;
}

#titulo2 {
	text-align: center;
}

#paginaindex {
	background-color: black;
}

#titulo1 {
	text-align: center;
	color: orange;
	padding-top: 18%
}

#cabeca-tabela {
	background: orange;
	color: black;
	font-size: 1.2em;
}

#linha-tabela {
	background: Lightgray;
	color: black;
}

#menu-comanda {
	margin-bottom:2%;
	margin-right: 6%;
	 	
}